.customerList {
  max-width: 800px;
  margin: 30px auto;
  padding: 3rem;
}

.list {
  list-style-type: none;
}

h2{
  color: #716C66; 
  text-align: center;
  text-decoration: underline;
  margin-bottom: 10px;
  margin-top: 10px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.listItem div {
  flex: 1;
}

.editButton,
.deleteButton {
  margin-left: 0.5rem;
  background-color: #F5C8BE;
  color:black;
}

.editButton:hover,
.deleteButton:hover{
  background-color: #e58671;
} 

